.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    display: flex;
    align-items: center;
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 0 15px;
      text-decoration: none;
      color: #000;
      &:hover {
        color: #f76c4a;
      }
    }
  }
}
